/target
**/*.rs.bk
Cargo.lock
bin/
pkg/*
# package.json is needed before npm install
# since pkg has its own .gitignore, you have to execute git add --force pkg/package.json
!pkg/package.json
wasm-pack.log
notices-rs.json
